<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5 border border-secondary shadow-lg p-3 rounded" style="background-color:#D0C1C2;">
      <h4 class="text-center">いいね一覧</h4>
      <table class="table table-hover">
        <% @favorite_posts.each do |post|%>
        <tbody>
          <tr>
            <td><%= image_tag post.customer.get_profile_image(100,100), class: "rounded-circle" %></td>
            <td>
              <%= link_to customer_path(post.customer.id) do %>
              <%= post.customer.full_name %>
              <% end %>
            </td>
            <td><%= post.title %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
