<h1 class="text-center">About</h1>
    <p class="text-center">
      FISHINGはおすすめな釣りスポットを共有することができます。<br>
      これから釣り始めたい方でもすぐに釣りスポットを見つけることができ、<br>
      既に釣りをしている方も自分が知らないスポットを見つけることができます。<br>
      ぜひご利用ください。
    </p>
<div class="text-center">
    <%= image_tag '426630.jpg', size: "700x400" %>
</div>