<div class="top mt-5">
  <div class="image"><%= image_tag "426629.jpg" %></div>
  <p class="text-center">FISHINGなら、あなたのおすすめな釣りスポットを共有できます。<br />
    <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-info rounded-pill mr-2 mt-3' %>
    <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-info rounded-pill ml-2 mt-3' %><br>
    <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-secondary rounded-pill ml-2 mt-3 sign_in", method: :post %>
  </p>
</div>
